@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Mulish:wght@300;400&family=Nunito:wght@300;400;500;600&family=Oswald:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&family=Quicksand:wght@500&family=Roboto:wght@300;400&family=Space+Grotesk:wght@600&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
  font-family: "Lato", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

.App {
  text-align: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 75vh;
  border-radius: 5px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}
.display h4 {
  text-shadow: 1px 2px 2px #200c0cc0;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 50px;
}
.display p {
  letter-spacing: 6px;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 40px;
}
.display h2 {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 40px;
}

.temp {
  background-color: rgb(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
}
.temp h1 {
  font-size: 100px;
  color: white;
  text-shadow: 5px 2px 2px #999999;
}

input{
  color: white;
  background-color: rgb(255, 255, 255, 0.4);
  font-size: 20px;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  padding-left: 5px;

}

.top-div {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container input {
  margin: 0;
}




/* switch */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
  width: 56px;
  height: 24px;
  margin-left: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 20px;
  left: 3px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 2px;
  left: 42px;
  z-index: 1;
  width: 20px;
  height: 20px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 1px;
  left: 15px;
  z-index: 1;
  width: 12px;
  height: 24px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

@media only screen and (max-width: 768px) {
  .App {
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .display {
    flex-direction: column;
  }

  .temp {
    width: 65%;
    margin: 0;
  }

  .input-container {
    width: 100%;
  }

  .switch {
    margin-left: 0;
  }
}
